Repository symbiote/php: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-php-latest, docker-php-5.6, docker-php-7.1, docker-php-7.3, docker-php-8.rc

docker-php-latest:
  image: docker:19.03.12
  stage: build
  services:
  - docker:19.03.12-dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - docker login -u ${DOCKER_HUB_USER} -p ${DOCKER_HUB_PASS}
  script:
  - docker build --pull -t "$CI_REGISTRY_IMAGE" .
  ...

docker-php-5.6:
  image: docker:19.03.12
  stage: build
  services:
  - docker:19.03.12-dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd 5.6
  - docker build --pull -t "$CI_REGISTRY_IMAGE:5.6" .
  - docker push "$CI_REGISTRY_IMAGE:5.6"
  - docker push php-fpm:5.6

docker-php-7.1:
  image: docker:19.03.12
  stage: build
  services:
  - docker:19.03.12-dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd 7.1
  - docker build --pull -t "$CI_REGISTRY_IMAGE:7.1" .
  - docker push "$CI_REGISTRY_IMAGE:7.1"
  - docker push php-fpm:7.1

docker-php-7.3:
  image: docker:19.03.12
  stage: build
  services:
  - docker:19.03.12-dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd 7.3
  - docker build --pull -t "$CI_REGISTRY_IMAGE:7.3" .
  - docker push "$CI_REGISTRY_IMAGE:7.3"
  - docker push php-fpm:7.3

docker-php-8.rc:
  image: docker:19.03.12
  stage: build
  services:
  - docker:19.03.12-dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd 8.rc
  - docker build --pull -t "$CI_REGISTRY_IMAGE:8-rc" .
  - docker push "$CI_REGISTRY_IMAGE:8-rc"
  - docker push php-fpm:8-rc

(fix) push dockerhub images to correct namespace
  .gitlab-ci.yml
Due: none

(fix) add docker login for all images (fix) tag images on build for docker hub
  .gitlab-ci.yml
Due: none

(Fix) add multipiplie trigger back
  .gitlab-ci.yml
Due: none

(fix) Typo in Tag for 8-rc
  .gitlab-ci.yml
Due: none

(feat) add jpeg and WebP support to 7.4 container
  Dockerfile
Due: docker-php-latest

(feat) gd WebP, SOAP and GMP support
  5.6/Dockerfile
  7.1/Dockerfile
  7.3/Dockerfile
  Dockerfile
Due: docker-php-latest, docker-php-5.6, docker-php-7.1, docker-php-7.3

(feat) add timecop-beta PHP module (not enabled)
  5.6/Dockerfile
  7.1/Dockerfile
  7.3/Dockerfile
  Dockerfile
Due: docker-php-latest, docker-php-5.6, docker-php-7.1, docker-php-7.3

fix(Dockerfile) Updated mail config to work with msmtp
  7.1/Dockerfile
  7.1/build.sh
Due: docker-php-7.1

(feat) build php-ldap requirements in to php5.6 image
  5.6/Dockerfile
Due: docker-php-5.6

(feat) add LDAP dependencies to image for php-ldap support
  7.1/Dockerfile
Due: docker-php-7.1

(feat) add ldap dependencies to image to support php-ldap
  7.3/Dockerfile
Due: docker-php-7.3

(fix) force xdebug for PHP 7.1 to use version 2.x
  7.1/Dockerfile
Due: docker-php-7.1

(feat) add LDAP dependencies to support php-ldap 7.4 container
  Dockerfile
Due: docker-php-latest

(feat) enable ldap by default
  7.1/Dockerfile
Due: docker-php-7.1

(chore) update tideways APT repo
  5.6/Dockerfile
  7.1/Dockerfile
Due: docker-php-5.6, docker-php-7.1

fix(xdebug) Updated xdebug.ini to support v3
  xdebug.ini
Due: docker-php-latest

fix(gitlabci) Adjust trigger point to look at xdebug and php.ini files
  .gitlab-ci.yml
Due: none

chore(gitlabci) Build trigger testing
  xdebug.ini
Due: docker-php-latest

add dependency and library for mongodb and php74
  .gitlab-ci.yml
  7.4/Dockerfile
  7.4/build.sh
  7.4/memory.ini
  7.4/php.ini
  7.4/readme.md
  7.4/xdebug.ini
Due: none

add(MongoDB): Add MongoDB Client dependencies
  Dockerfile
Due: docker-php-latest

(feat) add 8.0 container
  .gitlab-ci.yml
  8.0/Dockerfile
  8.0/build.sh
  8.0/memory.ini
  8.0/php.ini
  8.0/readme.md
  8.0/xdebug.ini
Due: none

(fix) use correct path for 8.0 build
  .gitlab-ci.yml
Due: none

feat(Dockerfile):image with alpine integrated
  .gitlab-ci.yml
  Dockerfile-alpine
Due: none

(chore) remove release candidate
  8.0/build.sh
  8.rc/Dockerfile
  8.rc/build.sh
  8.rc/memory.ini
  8.rc/php.ini
  8.rc/readme.md
  8.rc/xdebug.ini
Due: docker-php-8.rc

fix(alpine):alpine 3.14 system call issue fix
  .gitlab-ci.yml
Due: none

(chore) remove ci configuration for rc build
  .gitlab-ci.yml
Due: none

feat(registry):push image to gitlab registry
  .gitlab-ci.yml
Due: none

deprecate PHP 5.6
  .gitlab-ci.yml
  5.6/Dockerfile
  5.6/build.sh
  5.6/memory.ini
  5.6/php.ini
  5.6/xdebug.ini
Due: docker-php-5.6

deprecate PHP 7.3
  .gitlab-ci.yml
  7.3/Dockerfile
  7.3/build.sh
  7.3/memory.ini
  7.3/php.ini
  7.3/readme.md
  7.3/xdebug.ini
Due: docker-php-7.3

feat(PHP8.x) Build PHP 8.1 and 8.2 containers
  .gitlab-ci.yml
  7.4/Dockerfile
  7.4/Dockerfile-alpine
  7.4/build.sh
  7.4/memory.ini
  7.4/php.ini
  7.4/readme.md
  7.4/xdebug.ini
  8.0/Dockerfile
  8.0/build.sh
  8.0/xdebug.ini
  8.1/Dockerfile
  8.1/Dockerfile-alpine
  8.1/build.sh
  8.1/memory.ini
  8.1/php.ini
  8.1/readme.md
  8.1/xdebug.ini
Due: none

fix(php74) Install specific xdebug version for 7.4 support
  7.4/Dockerfile
  7.4/Dockerfile-alpine
Due: none

fix(ci) use correct alpine Dockerfile for 7.4 and 8.1 alpine images
  .gitlab-ci.yml
Due: none

Path conditions:
  docker-php-latest: any of: Dockerfile, memory.ini, php.ini, xdebug.ini
  docker-php-5.6: any of: 5.6/*
  docker-php-7.1: any of: 7.1/*
  docker-php-7.3: any of: 7.3/*
  docker-php-8.rc: any of: 8.rc/*
